.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4em;
    text-align: center;
    color: rgb(255, 72, 0);
    background-color: pink;
}

.noMargin {
    margin: 0;
}

#gameSpace {
    width: 80%;
    height: 80vh;
    margin-left: 10%;
    background-color: pink;
}

.navList {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    margin: 0;
    padding: 0;
    background-color: skyblue;
}

.navList {
    list-style: none;
}

.navList li {
    padding: 12px;
    color:rgb(81, 160, 101);
}

.navList a {
    text-decoration: none;
    color: rgb(56, 165, 129);
}

.navList li:hover {
    background-color: rgb(73, 73, 190);
}

.navList li:hover {
    color:greenyellow;
}

.selfLeft {
    margin-right: auto;
}

@media all and (max-width: 800px) {
    .navList {
        justify-content: space-evenly;
    }

    .selfLeft {
        margin-left: 0;
    }
}

@media all and (max-width: 600px) {
    .navList {
        flex-flow: column wrap;
        padding: 0;
        text-align: center; 
    }

    .navList a li { 
        border-top: 1px solid rgba(255, 255, 255,0.3); 
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
      }
    
    .selfLeft {
        margin-right: 0;
    }
}

.gameContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between + safe;
    align-items: flex-start;
    align-content: center + safe;
}

.Game {
    flex: 3 0 100%;
    align-self: center;
}