body {
    margin: 0;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4em;
    text-align: center;
    color: rgb(255, 72, 0);
    background-color: pink;
}

.noMargin {
    margin: 0;
}

.navList {
    display: flex;
    flex-flow: row;

    margin: 0;
    padding: 0;
    margin-bottom: 2em;
    background-color: skyblue;
    list-style: none;
}

.navList li {
    padding: 12px;
    color:rgb(81, 160, 101);
}

.navList a {
    text-decoration: none;
    color: rgb(56, 165, 129);
}

.navList li:hover {
    background-color: rgb(73, 73, 190);
    color:greenyellow;
}

.selfLeft {
    margin-right: auto;
}

@media all and (max-width: 900px) {
    .navList {
        justify-content: space-evenly;
    }

    .selfLeft {
        margin-right: 0;
    }
}

@media all and (max-width: 600px) {
    .navList {
        flex-flow: column wrap;
        padding: 0;
        text-align: center; 
    }

    .navList a li { 
        border-top: 1px solid rgba(255, 255, 255,0.3); 
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
      }
}

.gameContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: center;
}

.game {
    display: flex;
    aspect-ratio: 7 / 6;
    flex: 3 1;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(0, 0, 0);
}

:root {
    --square-size: 100%;
    --token-size: calc(var(--square-size)*0.95);
}

.board {
    display: grid;
    grid: repeat(6, 1fr) / repeat(7, 1fr);
    grid-template-areas: 
        "......."
        "......."
        "......."
        "......."
        "......."
        ".......";

    /* gap: 2px 2px; */
    place-items: center;
    width: 100%;
    height: 100%;
}

.cell {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(0, 0, 0);

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Why before and not just .cell.red-circle? */
.cell.circle::before {
    content: "";
    height: var(--token-size);
    width: var(--token-size);
    border-radius: 50%;
    position: absolute;
}

.cell.circle.red::before {
    background-color: red;
}

.cell.circle.blue::before {
    background-color: blue;
}

.sidePanel {
    flex: 1 1; 
}