{% extends "template.html"%}

{% block title %}
Connect4
{% endblock %}

{% block body %}
    <div class="banner">
        <h1 class="noMargin">
            Connect 4?
        </h1>
    </div>
{% endblock %}

{% block main %}
    <div class="gameContainer">
        <div class="sidePanel">
            left
        </div>
        <div class="game">
            <div class="board">
                <div class="cell circle red"></div>
                <div class="cell circle blue"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
            </div>
        </div>

        <div class="sidePanel">
            right
        </div>
    </div>

    <div class="xWin">
        <div class="winning-message">{{ wPlayer }} wins!</div>
        <form action="/">
            <button> Play again </button>
        </form>
        <form action="/leaderboard">
            <button>Leaderboard</button>
        </form>
    </div>

    <div class="xLoss">

    </div>
    <p style="text-align: center">Footer</p>
{% endblock %}