{% extends "template.html"%}

{% block title %}
Connect4
{% endblock %}

{% block body %}
    <div class="banner">
        <h1 class="noMargin">
            Connect 4?
        </h1>
    </div>
{% endblock %}

{% block main %}
    <div class="gameContainer">
        <div class="sidePanel">
            left
        </div>
        <div class="game">
            <div class="board">
                <div class="wrapper-row1 wrapper">
                    <div class="col1 cell"></div>
                    <div class="col2 cell"></div>
                    <div class="col3 cell"></div>
                    <div class="col4 cell"></div>
                    <div class="col5 cell"></div>
                    <div class="col6 cell"></div>
                    <div class="col7 cell"></div>                        
                </div>
                <div class="wrapper-row2 wrapper">
                    <div class="col1 cell"></div>
                    <div class="col2 cell"></div>
                    <div class="col3 cell"></div>
                    <div class="col4 cell"></div>
                    <div class="col5 cell"></div>
                    <div class="col6 cell"></div>
                    <div class="col7 cell"></div>                        
                </div>
                <div class="wrapper-row3 wrapper">
                    <div class="col1 cell"></div>
                    <div class="col2 cell"></div>
                    <div class="col3 cell"></div>
                    <div class="col4 cell"></div>
                    <div class="col5 cell"></div>
                    <div class="col6 cell"></div>
                    <div class="col7 cell"></div>                        
                </div>
                <div class="wrapper-row4 wrapper">
                    <div class="col1 cell"></div>
                    <div class="col2 cell"></div>
                    <div class="col3 cell"></div>
                    <div class="col4 cell"></div>
                    <div class="col5 cell"></div>
                    <div class="col6 cell"></div>
                    <div class="col7 cell"></div>                        
                </div>
                <div class="wrapper-row5 wrapper">
                    <div class="col1 cell"></div>
                    <div class="col2 cell"></div>
                    <div class="col3 cell"></div>
                    <div class="col4 cell"></div>
                    <div class="col5 cell"></div>
                    <div class="col6 cell"></div>
                    <div class="col7 cell"></div>                        
                </div>
                <div class="wrapper-row6 wrapper">
                    <div class="col1 cell circle"></div>
                    <div class="col2 cell circle"></div>
                    <div class="col3 cell circle"></div>
                    <div class="col4 cell circle"></div>
                    <div class="col5 cell circle"></div>
                    <div class="col6 cell circle"></div>
                    <div class="col7 cell circle"></div>                        
                </div>
            </div>
        </div>

        <div class="sidePanel">
            right
        </div>
    </div>

    <div class="xWin">
        <div class="winning-message"></div>
        <form action="/">
            <button> Play again </button>
        </form>
        <form action="/leaderboard">
            <button>Leaderboard</button>
        </form>
    </div>

    <div class="xLoss">

    </div>
    <p style="text-align: center">Footer</p>
{% endblock %}