{% extends "template.html" %}

{% block title %}
Versus
{% endblock %}

{% block main %}
<!--Creates a flash message using flask socket io-->
<p class="flash-message challenge"></p>

<!--Creates a challenge form, which uses player nicknames to invite another player into a game-->
<p class="form-message">Enter the username of the player you want to challenge!</p>
<div class="form-div">
    <form method="post" autocomplete="off">
        <input autofocus class="challengeInput" name="challengedName" placeholder="Username" maxlength="101">
    </form>
    <button type="submit" class="challenge-button">Challenge!</button>
</div>
{% endblock %}