{% extends "template.html" %}

{% block title %}
Login
{% endblock %}

{% block body %}
{% endblock %}

{% block main %}
<!--Creates a login form-->
<p class="form-message">Enter your credentials to log in!</p>
<div class="form-div">
    <form method="post" autocomplete="off">
        <input autofocus name="username" placeholder="Username" maxlength="101">
        <input autofocus type="password" name="password" placeholder="Password" maxlength="101">
        <button type="submit">Log in</button>
    </form>
</div>
{% endblock %}