{% extends "template.html" %}

{% block title %}
Register
{% endblock %}

{% block body %}
{% endblock %}

{% block main %}
<p class="form-message"><strong>DO NOT USE YOUR REAL PASSWORD!!!</strong> Enter a username and password below to register!</p>
<div class="form-div">
    <form method="post" autocomplete="off">
        <input autofocus name="username" placeholder="Username">
        <input autofocus type="password" name="password" placeholder="Password">
        <input autofocus type="password" name="confirmPassword" placeholder="Confirm password">
        <button type="submit">Register</button>
    </form>
</div>
{% endblock %}